@model BasketVM
@{
  //ViewData["status"] = "success";
}



<div class="basket shadow container"  >
  <span class="fa fa-basket-shopping"></span>
  
  <div class="mt-3">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 fw-bold">Name</div>
      <div class="col fw-bold">Price</div>
    </div>
    
    
    @foreach(var item in Model.BasketItems){
      var productId = item.ProductId;
      <div class="row justify-content-around align-items-center">
        <img class="col-2" src="@item.Product?.PictureUri" />
        <i class="col-4 overflow-auto">@item.Product?.Name</i>
        <i id="@productId-basketItemPrice" class="col-2">@item.Product?.Price</i>
        <div class="col-1 fa fa-circle-minus" onclick="estore_site.decrementBasketItem(this)"></div>
      <input class="col-1" id="@productId-basketItemQt" min="1" max="99" type="number" value="@item.Qt" title="Quantity" />
        <div class="col-1 fa fa-circle-plus" onclick="estore_site.incrementBasketItem(this)"></div>
        
        <a href="#" class="col fa fa-remove" title="Remove" onclick="estore_site.removeBasketItem(@productId)"></a>

    </div>
      
    }
    <div class="bg-info">Total Price
      <span id="basketTotalPrice">@Model.TotalPrice</span>
    </div>
    
    <form  method="post">
    <input type="submit" class="btn-sm mt-2" value="Remove Basket" asp-page-handler="removebasket" onclick="return confirm('Are you sure to remove basket?')" />
    </form>
    @if (Model.BasketItems.Count() > 0)
    {
      <a asp-controller="OrderController" asp-action="GetCheckOut" class="btn-primary shadow btn-lg float-end ">CheckOut</a>
    }
  </div>

</div>