@model BasketVM
@{
  //ViewData["status"] = "success";
}



<div class="basket shadow container"  >
  <span class="fa fa-basket-shopping"></span>
  
  <div class="mt-3">
    
    
    
    @foreach(var item in Model.BasketItems){
      var productId = item.ProductId;
      <div class="basket-item row align-items-center justify-content-around mt-3">
        
        <img class="col-3 basket-item-img" src="@item.Product?.PictureUri" />
        <i class="col-3 overflow-auto basket-item-name">@item.Product?.Name</i>       
        <i id="@productId-basketItemPrice" class="col">@item.Product?.Price</i>
        
        <div class="col-3 basket-item-div-qt">
        <div class="col fa fa-circle-minus" onclick="estore_site.decrementBasketItem(this)"></div>
        <input class="col basket-item-qt" id="@productId-basketItemQt" min="1" max="99" type="number" value="@item.Qt" title="Quantity" />
        <div class="col  fa fa-circle-plus" onclick="estore_site.incrementBasketItem(this)"></div>
        </div>
        
        <a href="#" class="col flex-grow-0 fa fa-remove" title="Remove" onclick="estore_site.removeBasketItem(@productId)"></a>
    
    </div>
      <div class="h-25 bg-dark"> </div>
      
    }
    <div class="bg-info mt-2">Total Price
      <span id="basketTotalPrice">@Model.TotalPrice</span>
    </div>
    
    <form  method="post">
    <input type="submit" class="btn-sm mt-2" value="Remove Basket" asp-action="removebasket" onclick="return confirm('Are you sure to remove basket?')" />
    </form>
    @if (Model.BasketItems.Count() > 0)
    {
      <a asp-controller="OrderController" asp-action="GetCheckOut" class="btn-primary shadow btn-lg float-end ">CheckOut</a>
    }
  </div>

</div>