@model BasketVM
@{
  //ViewData["status"] = "success";
}



<div class="basket shadow"  >
  <span class="fa fa-basket-shopping"></span>
  <a href="#" class="basket-close" onclick="closeBasket()">X</a>
  <div class="mt-5">
    @foreach(var item in Model.BasketItems){
    <div class="row align-items-center">
      <img class="col-3" src="@item.Product?.PictureUri" />
      <i class="col-4 overflow-auto">@item.Product?.Name</i>
      <input class="col" id="@item.ProductId" min="0" type="number" value="@item.Qt" title="Quantity" />
      <a  href="#" class="col fa fa-shopping-basket" title="Update" onclick="setBasketItem(@item.ProductId,true)"></a>
      <a  href="#" class="col fa fa-remove" title="Remove" onclick="removeBasketItem(@item.ProductId)"></a>

    </div>
      
    }

  </div>

</div>