@model ProductVM
@{
  bool isAuth = false;
  if (User.Identity?.IsAuthenticated==true)
    isAuth = true;
  //todo validations/alerts for inputs, ie;negative number for input qt
}

<div class="id" hidden>@Model.Id</div>

<div class="card text-center ">
  
  <img class="card-img h-75" src="@Model.PictureUri" />
  <div class="card-title">@Model.Name</div>
  <div class="card-footer">
    <span>@Model.Price$ </span>
    <div class="row-cols-3"> 
     @if(isAuth){
    <input id="@Model.Id-qt" min="1" value="1" type="number" title="Quantity" />
      <a href="#" class="fa fa-cart-plus" title="Add to basket" onclick="estore_site.setBasketItem(@Model.Id)"></a>
     }
    </div>
    <!--
    <form method="post" asp-action="addproduct" asp-controller="home">
      <a class="fa fa-plus" onclick="updateBasket()"></a>
      <input hidden name="productId" value="2" />
      <button type="submit"  class="fa fa-minus" ></button>
    </form>
    -->
  </div>
 
  

</div>

